body{
    font-family: catamaran,sans-serif;
    font-size: 14px;
    text-align: justify;
    color: #fff;
    background-color: #188e5a;
    background-image: url(../imgs/skulls.png);
    height: 100%;
    overflow-y: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
}
body::-webkit-scrollbar{
    width:10px;
    height:5px;
}
body::-webkit-scrollbar-thumb{
    background:#aaa;
    border-radius:10px;
}
body::-webkit-scrollbar-track{
    background:0 0;
}
h1{
    font-size: 21px;
    margin-bottom: 0;
}
h2{
    font-size: 18px;
    margin-bottom: 0;
}
h3{
    font-size: 16px;
    margin-bottom: 0;
}
h4, h5, h6{
    font-size: 16px;
    margin-bottom: 0;
}
.unoonline-main-body{
    padding: 41px 0;
    margin-bottom: 0;
}

.xml-block{
    display: none !important;
}
.xxl-block{
    display: none !important;
}
.xxxl-block {
    display: none !important;
}
.main_container{
    padding: 15px;
    padding-top: 45px;
    color: #000;
}
.game-play {
    width: 100%;
    margin-top: 10px;
}
.play-block{
    margin: 0 8px;
    border: 1px solid #fff;
    box-shadow: 0 0 3px 0px #fff;
}
.title-box{
    background: #00335b;
}
.play-box{
    height:360px;
    background: #2c68ff;
}
.force_full_screen {
    position: fixed !important;
    width: 100% !important;
    height: 100% !important;
    z-index: 999999;
    top: 0px !important;
    border: 0px !important;
    left: 0px !important;
    right: 0px !important;
    max-height: 100% !important;
    max-width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
    cursor: pointer;
}
#expand{
    cursor: pointer;
    display: inline-block;
}
.list-game-container{
    margin: 8px 0;
    box-shadow: 0 0 3px 0 #fff;       
    background: #00335b;
}
.list-post-container{
    margin: 8px 0;
    box-shadow: 0 0 3px 0 #fff;        
    background: #00335b;
}
.unoonline-panel-heading{
    padding: 5px 0;
}
.pagination{
    text-align: center;
    padding: 8px;
}
.pagination p{
    margin-bottom: 0px;
}
.pagination a, .pagination span{
    margin: 5px;
    padding: 5px;
    padding: 0 10px;
    background: #ddd;
    border-radius: 5px;
    font-size: 16px;
    color: #000;
    font-weight: bold;
}
.pagination span{
    background: #999;
    color: #eee;
}
.pagination a:hover{
    text-decoration: none;
    background: #555;
    color: #fff;
}

#expand img{
    width: 35px;
    margin-left: 10px;
    opacity: 0.9;
}
#expand img:hover{
    cursor: pointer;
    opacity: 1;
}
.unoonline-detail{
    padding: 0 5px;
}
.unoonline-detail-content{    
    padding: 5px;
    padding: 14px;
    background: #00335b;
    border: solid 1px #fff;
    position: relative;
}

.unoonline-panel-heading, .unoonline-panel-heading h2{
    font-weight: bold;
    font-size: 18px;
    display: inline-block;
}

.unoonline-block-footer{
    position: relative;
    background: #00335b;
    border-top: solid 1px #fff;    
    box-shadow: 0 0 3px 0 #fff;
}

.box-footer{
    box-shadow: 0 0 3px 0px #fff;
}

.footer-content a{
    color: #fff;    
    margin: 0 5px;    
    height: 35px;
    line-height: 35px;
    display: block;
    float: left;
}
.footer-content a:hover{
    color: #aaa;
    text-decoration: none;
}
.fk-item{
    max-width: 111px;
    margin: auto;
}
.fk-detail {
    margin: 8px
}

.list-box-30 {
    margin: 0 -8px
}

.fk-img img {
    width: 100%;
}

.list-box-30 {
    overflow: hidden;
    padding-bottom: 28px
}

.fk-item-content {
    overflow: hidden;
    border-radius: 16px;
    box-shadow: 0 3px 6px 0 rgba(0,0,0,.24);
    position: relative
}

.fk-info {
    position: absolute
}

.box30 {
    overflow: hidden;
    padding: 0 16px;
    margin-top: 50px
}

.fk-info {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 6px;
    color: #fff;
    font: 700 12px/16px catamaran,sans-serif;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    z-index: 3;
    transition: all .3s ease;
    transition-property: transform,opacity;
    transition-delay: .1s;
    transform: translate3d(0,8px,0);
    opacity: 0;
    font-size: 14px;
    text-shadow: 0 0 3px #000, 0 0 3px #000;
}

.fk-item-content:hover .fk-info {
    opacity: 1;
    transform: translateZ(0)
}

.fk-item-content:hover {
    transform: scale(1.04255) translate(0px, -4px);
    transition-duration: 0.3s;
}

.ads{
    position: relative;
    text-align: center;
}
.ads-h{
    position: relative;
    padding: 8px 3px 8px 13px;
    text-align: center; 
}
.ads-title-h{
    text-transform: uppercase;
    text-align: center;
    /* opacity: 1; */
    height: 20 px;
    letter-spacing: 1px;
    color: #9e9e9e;
    transform: rotate3d(0, 0, 1, 270deg);
    position: absolute;
    left: -35px;
    top: 41%;
    font-size: 9px;
}
.ads-title{
    text-transform: uppercase;
    text-align: center;
    height: 20 px;
    letter-spacing: 1px;
    color: #9e9e9e;
    font-size: 9px;
}
.unoonline-menu{
    position: relative;
}
.unoonline-menu-block{
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
    padding-left: 0px;
}
.unoonline-menu-content{
    height: 40px;
    width: 100%;
    background: #00335b;
    box-shadow: 0 0 3px 0px #fff;
    border-radius: 0 0 3px 3px;
    border: solid 1px #fff;
    border-top: none;
}

.unoonline-right{
    float: right;
    position: absolute;
    right: 0;
    top: 0%;
    height: 40px;
    overflow: hidden;
    width: 100%;
    padding: 3px 5px;
}
input#unoonline-input-search {
    border: none;
    padding: 5px 25px 5px 8px;
    border: none;
    background: #ddd;
    width: 100%;
    border-radius: 3px;
    border: 1px solid #7f9db9;
    background-color: #fff;
}
button#unoonline-search-button {
    border: none;
    position: absolute;
    top: -2px;
    right: 5px;
    background: 0 0;
    height: 100%;
    color: #fff;
    width: 31px;    
    border: none!important;
    outline: none!important;
}
.btn-home{
    width: fit-content;
    margin: auto;
    padding: 5px;
    height: 40px;
}
.btn-home img{
    width: 21px;
    margin-top: 3px;
}
.btn-new, .btn-hot {
    width: fit-content;
    margin: auto;
    height: 40px;
    font-weight: 600;
    line-height: 40px;
}
.btn-new a{
    color: #fff;
}
.btn-hot a{
    color: #fff;
}
.btn-new a:hover, .btn-hot a:hover{
    text-decoration: none;
    cursor: pointer;
}

.tag_3 {
    overflow: hidden;
    width: 100%;
}
.list-bsk-tags a {
    margin: 5px 5px;
    padding: 0px 5px;
    color: #fff;
    background-color: #007bff;
    border-radius: 5px;
    font-weight: 800;
    font-size: 15px;
    display: block;
    text-transform: capitalize;
    font-size: 20px;
    padding: 0px 5px;
    width: fit-content;
    float: left;
    height: 35px;
    line-height: 35px;
}
.list-bsk-tags {
    font-weight: 600;
    font-size: 10px;
}
.list-bsk-tags a {
    font-size: 18px;
}
.list-bsk-tags a.color1 {
    background-color: #007bff;
}

.list-bsk-tags a.color1:hover {
    background-color: #0062cc;
}

.list-bsk-tags a.color2 {
    background-color: #0456b5;
}

.list-bsk-tags a.color2:hover {
    background-color: #545b62;
}

.list-bsk-tags a.color3 {
    background-color: #28a745;
}

.list-bsk-tags a.color3:hover {
    background-color: #1e7e34;
}

.list-bsk-tags a.color4 {
    background-color: #dc3545;
}

.list-bsk-tags a.color4:hover {
    background-color: #bd2130;
}

.list-bsk-tags a:hover {
    text-decoration: none;
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {

}
@media (min-width: 992px) {
}
@media (min-width: 1204px) {
    .play-box {
        height: 470px;
    }
    .unoonline-main-body{
        padding:0;
    }
    .unoonline-menu-block{
        padding-left: 8px;
    }
    .unoonline-detail{
        min-height: 698px;
        padding: 48px 0 5px 8px;
        height: 100vh;
    }
    .unoonline-detail-content{    
        width: 100%;
        height: 100%;
        padding: 5px;
        box-shadow: 0 0 3px 0 #fff;
    }
    .unoonline-detail-container {
        height: 100%;
        overflow-y: auto;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
        -webkit-overflow-scrolling: touch;
    }
    .unoonline-detail-container::-webkit-scrollbar{
        width:10px;
        height:5px;
    }
    .unoonline-detail-container::-webkit-scrollbar-thumb{
        background:#aaa;
        border-radius:10px;
    }
    .unoonline-detail-container::-webkit-scrollbar-track{
        background:0 0;
    }
}

@media (min-width: 1534px) and (max-width: 1863px) {
    .play-box {
        height: 590px;
    }
    .container, .container-sm, .container-md, .container-lg, .container-xl {
        max-width: 1524px;
    } 
}


@media (min-width: 1864px) {
    .play-box {
        height: 590px;
    }

}
