#rating span{
    color: #fff;
}
#rating .text-center{
    display: block;
    width: fit-content;
    overflow: hidden;
    margin: 0 auto;
}
#rating .rating-element{
    display: inline-block;
}
#default-demo{
    line-height: 35px;
    width: fit-content!important;
    padding-right: 15px;
}
#default-demo img{
    width: 21px;
    padding: 3px;
}